<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SieuThiBHXConnectionString"
            connectionString="Data Source=DESKTOP-L4303K8;Initial Catalog=SieuThiBHX;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SieuThiBHXConnectionString1"
            connectionString="Data Source=HUYNHTRONG\MAYA0;Initial Catalog=SieuThiBHX;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SieuThiBHXConnectionString2"
            connectionString="Data Source=HUYNHTRONG\MAYA0;Initial Catalog=SieuThiBHX;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>